/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-stripe-wp-price-option {
	border: 1.5px solid #000;
	margin-block: 1rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	display: flex;
	justify-content: space-evenly;

	.swp-d-none {
		display: none;
	}

	.components-base-control {
		font-size: inherit;
	}

	.components-base-control__field {
		font-size: inherit;
	}

	.components-text-control__input {
		background-color: inherit;
		box-shadow: none;
		border: none;
		outline: none;
		color: inherit;
		font-size: inherit;
		padding: 0;
		text-align: left;

		&:focus {
			box-shadow: none;
		}
	}
}
