/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-stripe-wp-price-option {
	cursor: pointer;
	border: 1px solid #efefef;

	position: relative;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	display: flex;
	gap: 1ch;
	justify-content: space-between;

	.wp-block-stripe-wp-price-option__currency {
		margin-inline-start: 25%;
		inline-size: clamp(1ch, 15%, 20%);
		text-align: right;
	}

	.wp-block-stripe-wp-price-option__amount {
		margin-inline-end: 25%;
		inline-size: clamp(10ch, 15%, 20%);
		text-align: left;
	}

	input[type="radio"] {
		clip: rect(0, 0, 0, 0);
		pointer-events: none;
		position: absolute;
		box-sizing: border-box;
		padding: 0;
	}
}
